[submodule "externalTools/htslib"]
	path = externalTools/htslib
	url = https://github.91chi.fun/https://github.com/samtools/htslib.git
[submodule "externalTools/sonLib"]
	path = externalTools/sonLib
	url = https://github.91chi.fun/https://github.com/benedictpaten/sonLib.git
